.pressDown {
  background-color: #fbbb4c;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  border-bottom: 4px solid #d19938;
  transition: 0.1s;
}

.pressDown:hover {
  border-bottom-width: 0;
  margin-top: 3px;
}

.borderMarker {
  position: relative;
  color: #303030;
}

.borderMarker::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 70%;
  left: -0.1px;
  right: -0.1px;
  bottom: 0;
  transition: top 0.1s ease-in-out;
  background-color: rgb(251, 187, 76, 0.5);
  color: #303030;
}

.borderMarker:hover::after {
  top: 0;
  color: #303030;
}
